#action
{
    min-height: 34px;
    width: 100%;
    padding: 4px;
    outline: none;
    color: #303030;
    font-weight: bold;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    box-sizing: border-box;
    vertical-align: middle;
}

#action:focus
{
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
}

#action option
{
    font-weight: bold;
    font-size: 6pt;
}

.scr-pullOrd
{
    background: #E5E5E5;
    width: 100%;
    height: 400px;
    overflow: auto;
    border: 2px inset #6c8393;
    text-align: center;
}

.scr-pullOrd table
{
    background: #fff;
    width: 100%;
    height: auto;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    font-size: 0.8em;
    margin: auto;
}

.scr-pullOrd tr:hover
{
    background: #ADD8E6;
}

.scr-pullOrd td
{
    border: 1px solid #6c8393;
    padding: 5px;
    cursor: pointer;
}

.scr-pullOrd th
{
    background: #44729E;
    color: #fff;
    border: 1px solid #6c8393;
    padding: 5px;
    cursor: default;
}

.scr-pullOrd img
{
    cursor: pointer;
}

.scr-procon
{
    text-align: right;
    width: 100%;
    font-size: 0.8em;
    font-family: monospace;
}

/* --- Helpers ---*/

.scr-inhelp
{
    color: #8698B9;
}

.scr-hlpList
{
    display: none;
    position: absolute;
    overflow: auto;
    background: #E1E1E1;
    left: 2%;
    top: auto;
    width: 96%;
    max-height: 150px;
    margin-top: 5px;
    padding: 10px 0px 10px 0px;
    border: 1px solid #6c8393;
    font-weight: bold;
    opacity: 0.8;
    z-index: 97;
}

.scr-hlpList table
{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.scr-hlpList table td
{
    cursor: pointer;
    text-align: center;
    width: 1%;
}

.scr-hlpList table tr:hover
{
    background: #ADD8E6
}

/*--- TIME LINE ---*/

#oDet
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 905;
    cursor: default;
}

#oDet .ex
{
    width: 100%;
    height: 100%;
    text-align: center;
}

#oDet .in
{
    min-width: 500px;
    padding: 20px;
    border: 2px solid #44729E;
    border-radius: 10px;
    background: #fff;
    margin: auto;
    font-weight: bold;
    font-size: 0.8em;
    border-spacing: 5px;
    border-collapse: separate;
    box-shadow: 10px 10px 10px #44729E;
}

#oDet .in td, #oDet .in th 
{
    padding: 5px;
}

#oDet .in th 
{
    background: #44729E;
    color: #fff;
}

#oDet .in textarea
{
    min-height: 100px;
}

#visor, #detaller
{
    display: none;
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
    background-image: url('../img/pic.png');
    z-index: 900;
    text-align: center;
    overflow: auto;
    border: 2px solid #44729E;
    border-radius: 20px;
}

#closer, #dCloser
{
    position: absolute;
    right: 0%;
    top: 0%;
    width: 40px;
    height: 40px;
    background-image: url('../img/exit.png');
    cursor: pointer;
}

#closer:hover
{
    opacity: 0.8;
}

#space, #dSpace
{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 90%;
    height: 90%;
    z-index: 900;
    text-align: center;
    overflow: auto;
    border: 1px solid #fff;
}

#dSpace
{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 90%;
    height: 85%;
    z-index: 900;
    text-align: center;
    overflow: auto;
    border: 1px solid #fff;
}

#pres
{
    position: relative;
    width: 750px;
    padding: 25px;
    min-height: 100px;
    background: #fff;
    margin: auto;
    border: 2px solid #44729E;
    border-radius: 10px;
}

#rower
{
    position: relative;
    margin: auto;
    border: 1px solid #000;
    z-index: 902;
}

#pcA, #pcP, #pcI, #pcT, #pcD, #pcC, #pA, #pP, #pI, #pT, #pD, #pC
{
    display: block;
    position: absolute;
    top: 25px;
    width: 125px;
    min-height: 100px;
    height: auto;
}

#pcA, #pcP, #pcI, #pcT, #pcD, #pcC
{
    z-index: 901;
}

#pA, #pP, #pI, #pT, #pD, #pC
{
    z-index: 903;
}

#pcA
{
    left: 25px;
    background: #99B3FF;
}

#pcP
{
    left: 150px;
    background: #DCE5FF;
}

#pcI
{
    left: 275px;
    background: #99B3FF;
}

#pcT
{
    left: 400px;
    background: #DCE5FF;
}

#pcD
{
    left: 525px;
    background: #99B3FF;
}

#pcC
{
    left: 650px;
    background: #DCE5FF;
}

#pA
{
    left: 25px;
}

#pP
{
    left: 150px;
}

#pI
{
    left: 275px;
}

#pT
{
    left: 400px;
}

#pD
{
    left: 525px;
}

#pC
{
    left: 650px;
}

.scr-obj
{
    position: relative;
    margin: 25px 8px 25px 8px;
    width: 105px;
    height: 25x;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-family: monospace;
    font-size: 0.7em;
    overflow: hidden;
}

.scr-obj:hover
{
    background: #ADD8E6;
}

.scr-obj b
{
    height: 15px;
    width: 95px;
    display: block;
    margin: 5px;
    overflow: hidden;
}

.scr-null
{
    position: relative;
    margin: 25px 8px 25px 8px;
    width: 107px;
    height: 27px;
    border-radius: 5px;
}

.scr-marker
{
    width: 90%;
    background: #44729E;
    color: #fff;
    margin: auto;
}

.scr-marker td, .scr-marker th
{
    border: 2px solid #fff;
    padding: 5px;
    width: 25%;
    font-weight: bold;
    font-size: 0.8em;
    text-align: left;
    cursor: default;
}

/* --- FIRMA --- */

.scr-firma
{
    display: none;
    position: absolute;
    background: #ADCCEC;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 0%;
    opacity: 0.8;
    overflow: auto;
    text-align: center;
    z-index: 300;
}

.scr-firma table
{
   width: 100%;
   height: 100%;
}

.scr-firma canvas
{
    background: #fff; 
    border:4px solid #000; 
    border-radius: 10px; 
    cursor: crosshair; 
}

/* --- LOG ---*/

#logger
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 905;
    cursor: default;
}

#logger .ex
{
    width: 100%;
    height: 100%;
    text-align: center;
}

#logger .in
{
    min-width: 500px;
    padding: 20px;
    border: 2px solid #44729E;
    border-radius: 10px;
    background: #fff;
    margin: auto;
    font-weight: bold;
    font-size: 0.8em;
    border-spacing: 5px;
    border-collapse: separate;
    box-shadow: 10px 10px 10px #44729E;
}

#logger .in td, #logger .in th 
{
    padding: 5px;
}

#logger .in th 
{
    background: #44729E;
    color: #fff;
}

#logger .in textarea
{
    min-height: 100px;
}

/* --- Flot ---*/

#flotter
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 905;
    cursor: default;
}

#flotter .ex
{
    width: 100%;
    height: 100%;
    text-align: center;
}

#flotter .in
{
    min-width: 500px;
    padding: 20px;
    border: 2px solid #44729E;
    border-radius: 10px;
    background: #fff;
    margin: auto;
    font-weight: bold;
    font-size: 0.8em;
    border-spacing: 5px;
    border-collapse: separate;
    box-shadow: 10px 10px 10px #44729E;
}

#flotter .in td, #flotter .in th 
{
    padding: 5px;
}

#flotter .in th 
{
    background: #44729E;
    color: #fff;
}

#flotter .in textarea
{
    min-height: 100px;
}

/* --- PERDIDA ---*/

#calper
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 905;
    cursor: default;
}

#calper .ex
{
    width: 100%;
    height: 100%;
    text-align: center;
}

#calper .in
{
    min-width: 500px;
    padding: 20px;
    border: 2px solid #44729E;
    border-radius: 10px;
    background: #fff;
    margin: auto;
    font-weight: bold;
    font-size: 0.8em;
    border-spacing: 5px;
    border-collapse: separate;
    box-shadow: 10px 10px 10px #44729E;
}

#calper .in td, #calper .in th 
{
    padding: 5px;
}

#calper .in th 
{
    background: #44729E;
    color: #fff;
}

#calper .in textarea
{
    min-height: 100px;
}

#calper select
{
    min-height: 34px;
    width: 100%;
    padding: 4px;
    outline: none;
    color: #303030;
    font-weight: bold;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    box-sizing: border-box;
    vertical-align: middle;
}

#calper select:focus
{
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
}

/* --- Detalles --- */

.dtCab, .dtItm
{
    font-size: 0.8em;
    font-family: monospace;
    font-weight: bold;
    width: 100%;
    color: #fff;
}

.dtCab td
{
    background: #44729E;
    border: 2px solid #44729E;
    width: 33%;
}

.dtItm td
{
    background: #fff;
    color: #000;
    border: 2px solid #44729E;
    width: 33%;
}

/*---- UPLOADER ----*/

.scr-uploader
{
    display: none;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 35%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #505050;
    color: #FFF;
    text-align: left;
    z-index: 1000;
}

.scr-uploader table
{
    width: 100%;
    font-size: 0.7em;
    font-weight: bold;
}

.scr-uploader table td
{
    width: 75%;
    height: 20px;
    border: 1px solid #FFF;
}

.scr-uploader table b
{
    background: #1E90FF;
    height: 20px;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
}

