.scr-pro
{
    font-family: "Courier New", Courier, monospace;
    font-size: 10pt;
    font-weight: bold;
    position: relative;
    width: 100%;
}

.scr-pro .scr-f1, .scr-pro .scr-f2
{
    width: 100%;
    border-collapse: collapse;
}

.scr-pro .scr-f1 td, .scr-pro .scr-f1 th
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.scr-pro .scr-f1 td
{
    padding-right: 10px;
}

.scr-pro .scr-f1 th
{
    width: 0.1%;
    padding-left: 10px;
}

.scr-pro input[type="date"] 
{
    width: auto;
}

.scr-pro .scr-wmin
{
    width: 1%;
}

.scr-pro .scr-aright
{
    text-align: right;
}

.scr-pro .scr-aleft
{
    text-align: left;
}
.scr-pro .scr-acenter
{
    text-align: center;
}

.scr-pro .scr-aright img, .scr-pro .scr-aleft img, .scr-pro .scr-acenter img, .scr-aright img, .scr-aleft img, .scr-acenter img
{
    vertical-align: bottom;
    cursor: pointer;
}

/* --- ACABADOS --- */

.scr-detalle
{
    position: relative;
    overflow: auto;
    margin-top: 5px;
    width: 100%;
    height: 60px;
    border: 1px solid #6c8393;
    background: #fff;
    text-align: center;
}

.scr-detalle table
{
    position: relative;
    width: 98%;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.scr-detalle tr
{
    background: #fff;
    cursor: pointer;
}

.scr-detalle tr:hover
{
    background: #ADD8E6;
}

.scr-detalle td, .scr-detalle th
{
    border: 1px solid #0B556D;
}

.scr-pro .scr-detalle th, .scr-pro .scr-detalle td
{
    padding: 0px;
}

.scr-pro .scr-detalle img
{
    vertical-align: bottom;
}

/* --- ITEMS --- */

.scr-orditem
{
    position: relative;
    overflow: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 100px;
    border: 1px solid #6c8393;
    background: #fff;
    text-align: center;
}

.scr-orditem table
{
    position: relative;
    width: 98%;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.scr-orditem tr
{
    background: #fff;
}

.scr-orditem tr:hover
{
    background: #ADD8E6;
}

.scr-orditem td
{
    border: 1px solid #0B556D;
    cursor: pointer;
}

.scr-orditem th
{
    cursor: default;
    color: #FFF;
    background: #44729E;
    border: 1px solid #003749;
}

.scr-orditem img
{
    vertical-align: middle;
}

/* --- FIRMA --- */

.scr-firma
{
    display: none;
    position: absolute;
    background: #ADCCEC;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 0%;
    opacity: 0.8;
    overflow: auto;
    text-align: center;
    z-index: 300;
}

.scr-firma table
{
   width: 100%;
   height: 100%;
}

.scr-firma canvas
{
    background: #fff; 
    border:4px solid #000; 
    border-radius: 10px; 
    cursor: crosshair; 
}

.scr-firma textarea
{
    display: none;
}

/* --- FILES --- */

.scr-thumb
{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* --- Helpers ---*/

.scr-pro .scr-inhelp
{
    color: #8698B9;
}

.scr-pro .scr-hlpList
{
    display: none;
    position: absolute;
    overflow: auto;
    background: #E1E1E1;
    left: 2%;
    top: auto;
    width: 96%;
    max-height: 150px;
    margin-top: 5px;
    padding: 10px 0px 10px 0px;
    border: 1px solid #6c8393;
    opacity: 0.8;
    z-index: 97;
}

.scr-pro .scr-hlpList table
{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.scr-pro .scr-hlpList table td
{
    cursor: pointer;
}

.scr-pro .scr-hlpList table tr:hover
{
    background: #ADD8E6
}

.picList
{
    width: 40px;
    height: 40px;
    padding: 5px;
    vertical-align: bottom;
}


/*---- UPLOADER ----*/

.scr-uploader
{
    display: none;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 35%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #505050;
    color: #FFF;
    text-align: left;
}

.scr-uploader table
{
    width: 100%;
    font-size: 0.7em;
    font-weight: bold;
}

.scr-uploader table td
{
    width: 75%;
    height: 20px;
    border: 1px solid #FFF;
}

.scr-uploader table b
{
    background: #1E90FF;
    height: 20px;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
}
