{% extends 'ScriboBundle::layout.html.twig' %}



{% block title %}Clientes{% endblock %}



{% block uheader %}
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/view/filer.js') }}">/*--- Include ---*/ </script>
{% endblock %}



{% block view %}


    <h1>GESTIÓN DE ARCHIVOS</h1><br />

    

{% endblock %}


