{% extends 'ScriboBundle::layout.html.twig' %}



{% block title %}Clientes{% endblock %}



{% block uheader %}
    <link rel="stylesheet" href="{{ asset('bundles/scribo/css/filer.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/view/filer.js') }}">/*--- Include ---*/ </script>
{% endblock %}



{% block view %}


    <h1>GESTIÓN DE ARCHIVOS</h1><br />
    
    <table id='control' style="display: none; width: 100%; text-align: center;">
        <tr>
            <td><input id="purge" type="button" value="PURGAR" /></td>
            <td style="width: 40%;">
                <table style="width: 100%; text-align: center;">
                    <tr>
                        <td><input id="date" type="date" /></td>
                        <td><input id="update" type="button" value="ACTUALIZAR" /></td>
                    </tr>
                </table>
            </td>
            <td><input id="delete" type="button" value="ELIMINAR" /></td>
        </tr>
    </table>
    
    <br />
    
    <div class="scr-flist">
        <table id="flist">
            <tr><th><input id="checker" type="checkbox" /></th><th>ORDEN</th><th>CLIENTE</th><th>NOMBRE ORIGINAL</th><th>FECHA DE CREACIÓN</th><th>FECHA DE EXPIRACIÓN</th><th><img src="{{ asset('bundles/scribo/img/refresh.png') }}" onclick="getList();" title="Atualizar..." /></th></tr>
            <tr><th colspan="7" style="background: #fff; height: 359px;"><img src="{{ asset('bundles/scribo/img/loader.gif') }}" /></th></tr>
        </table>
    </div>

{% endblock %}


